body {
    background-color: rgb(45, 45, 45);
    color: azure;
}

h1 {
    font-size: 7em;
    text-align: center;
    margin: 0;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

h2 {
    font-size: 2.5em;
    margin-top: 0%;
}

.page-sections {
    height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#aboutGrid {
    grid-template-rows: 100%;
    height: 80%;
}

#aboutText {
    padding: 2%;
}

#aboutImages {
    text-align: center;
    padding: 2%;
}