.page-sections {
    height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#aboutGrid {
    grid-template-rows: 100%;
    height: 80%;
}

#aboutText {
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}

#aboutImages {
    display: grid;
    grid-template-rows: 80% 20%;
    height: 96.5%;
    padding: 2%;
    justify-items: center
}

#contactFormSection {
    text-align: center;
}

#questionMarkIcon {
    position: relative;
    top: .15em;
}