table {
    counter-reset: tableCount;
}

form {
    margin: 0;
    padding: 10px;
}

.dropdown {
    margin-bottom: 10px;
}

.counterCell:before {
    content: counter(tableCount);
    counter-increment: tableCount;
}

.table-responsive {
    height: 60vh;
    overflow-y: auto;
}

.table-wrapper {
    max-height: 100px;
    overflow: auto;
    display: inline-block;
}

.align-left {
    text-align: end;
}

#tablePadding {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

#filterPadding {
    padding-right: 1%;
    margin: 0;
}

#alignText {
    text-align: end;
    margin-bottom: 0;
}

@media (max-width: 575.98) {
    .table-responsive {
        height: 80vh;
        overflow-y: auto;
    }
}