body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f0f0f0;
}

/* set display to flex */
.display-flex {
    display: flex;
}

/* set flex direction to column */
.flex-column {
    flex-direction: column;
}

/* evenly space content horizontally */
.justify-content-evenly {
    justify-content: space-evenly;
}

/* center content horizontally */
.justify-content-center {
    justify-content: center;
}

/* center content vertically */
.align-items-center {
    align-items: center;
}



#landing {
    /* set section height to fill the viewport */
    height: 100vh;
    height: ;
    border: 1px solid black;
    margin: 0;
    background-color: aquamarine;
}

/* set id codingContent to have a small padding relative to the viewport */
#codingContent {
    padding: 0 5vw;
}